$white: #fff;
$black: #000;
$darkest-gray: #212121;
$dark-gray: #666;
$mid-gray: #a2a2a2;
$light-gray: #d2d2d2;
$lightest-gray: #f2f2f2;
$orange: #fa3;
$tomato-orange: #f74;

$highlight: $tomato-orange;

$links: $highlight;
$text-color: $darkest-gray;
$text-long: $dark-gray;
$light-border: $light-gray;
