@import 'https://fonts.googleapis.com/css?family=Raleway:200,400,600';
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i';

$serif: 'Playfair Display';
$sans-serif: 'Raleway';

h1,h2,h3,h4,h5,h6{
    margin:0;
    padding: 0;
}
