extends _layouts/base
//include _modules/link/link

block content
    main.resume
        section._bio-section
            include _modules/bio/bio
        section._resume-section
            include _modules/experience/experience
